@model IndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="messages">
    <ul>
        @foreach (var mailItem in Model.Mail)
        {
            <li>
                <div>
                    <p>@mailItem.From</p>
                    <p>@mailItem.Subject</p>
                    <p>@mailItem.Body</p>
                </div>
            </li>
        }
    </ul>
</div>
